<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.caffreyfans.irbaby">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".IRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.appliances.ExportActivity" />
        <activity android:name=".ui.devices.DeviceSettingsActivity" />
        <activity android:name=".ui.appliances.ApplianceSelectActivity" />
        <activity android:name=".ui.appliances.ACControlActivity" />
        <activity android:name=".ui.devices.DeviceSelectActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="irext_app_key"
            android:value="6407d3634eccac6ad60b2e07e490433d" />
        <meta-data
            android:name="irext_app_secret"
            android:value="d6730122152c89095aedbc8067fb9b2b" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>